placeholder<!DOCTYPE html>
<html>
<head>
	<title>results page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
	
	</style>
</head>
<body>
	<h1>Results page!</h1>
	<ul>
    <% data.forEach(function(itterator) { %>
        <li onclick="passfunc('<%=itterator.id%>')"><%= itterator.name%></a></li>
    <% }); %>
	</ul>

	<script>
		function passfunc(id) {
	        $.ajax({
	          url: "/selection",
	          type: "GET",
	          data: {
	            "uri": id
	          },
	          dataType: "json",
	        });
      };
	</script>
</body>
</html>
