<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Days+One');
	</style>
</head>
<body>
	<div id ="searchbox">
		<form action="/results" method ="GET" id="searchform">
			<input id="searchfield" type="text" placeholder="Search for a song..." name="search" onfocus="infocus()" onblur="outfocus()">
		</form>
		<input id="search-btn" type="submit" value="Get my key!" form="searchform">
	</div>
	<script>
		function infocus() {
		    return document.getElementById("searchfield").placeholder = "";
		}
		function outfocus() {
		    return document.getElementById("searchfield").placeholder = "search for a song...";
		}
	</script>
</body>
</html>